body{
    background-color: rgb(155, 198, 247);
}
#cont{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
section{
    width: 300px;
    text-align: center;
}