<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <a href="/"><h3>home</h3></a>
            <a href="/renderFav"><h3>my list</h3></a>
            <a href="/randomjoke"><h3>random joke</h3></a>
        </nav>
    </header>
    <h1>random joke page</h1>

    <p><%=val.typee%></p>
            <p><%=val.setup%></p>
            <p><%=val.punchline%></p>
</body>
</html>